.container {
  .grid_container {
    width:100%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr,auto);
    grid-gap: 0.75rem;

    .inner_wrapper:nth-child(even) {
      grid-row-gap: 1.25rem;
      .card {
        border: 2px solid #777;
      }
    }

    .inner_wrapper:nth-child(odd) {
      border: 2px solid #777;
    }

    .inner_wrapper:last-child {
      grid-auto-flow: column;
      grid-column: 1/6;
      grid-gap: 0.75rem;
    }

    .inner_wrapper {
      display: grid;
      grid-auto-rows: minmax(198px, auto);
      div {
        padding: 0.35rem;
      }
    }
  }
}
