@media all and (max-width: 768px) {
  html,
  body {
    font-size: 14px !important;
  }
  .container {
    max-width: 768px;
    margin: 0 auto;
    .grid_container {
      width: 100% !important;
      grid-template-columns: 1fr;
      padding: 0.75rem;
      .inner_wrapper,
      .inner_wrapper:last-child {
        grid-column: 1/12;
        grid-auto-flow: row;
      }
    }
    .board_wrapper {
      box-shadow: none;

      .canvas_header {
        width: 100%;
        margin: 0rem auto;
        background: transparent;
        .toggle_btn {
          flex-basis: 40%;
        }
      }
    }
    .view {
      button {
        display: none;
      }
      
    }
  }

  .header {
    background-color: rgba(25, 117, 210, 0.98);

    .logo {
      justify-content: center;
      .image {
        flex-basis: 10% !important;
        margin-right: 0.15rem;
      }
      .brand_name {
        color: #fff;
      }
    }
  }

  .hero {
    padding: 1rem !important;
    
    .hero_text,
    .hero_image {
      flex-basis: 100% !important;
    }

    .hero_text {
      color: rgb(44, 44, 44);
      max-width: 85%;

      margin: 0 auto;
      h1 {
        font-size: 2rem !important;
        text-align: center;
      }
      p {
        font-size: 0.68rem !important;
        text-align: center;
      }

      h3 {
        font-size: 0.875rem !important;
        text-align: center;
      }
      .start_btn {
        display: flex;
        justify-content: center;
        button {
          margin: 1rem 0rem;
          width: 50% !important;
        }
      }
    }

    .hero_image {
      img {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }

  .page_not_found {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      display: block;
      width: 80%;
      transform: translate(0%, 50%);
    }
  }
}
